@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: Poppins sans-serif;
  src: url(../../fonts/Poppins-Regular.ttf);
}
header {
  background: #1c1e53;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.5);
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
header .nav .menu {
  display: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
header .nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .nav-item {
  color: #bbbbcb;
  /* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  transition: 0.5s;
}
header .nav-item:hover {
  color: #fff;
}
header .nav-item:nth-child(6) {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
}
@media only screen and (max-width: 888px) {
  header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .nav .menu {
    display: block;
  }
  header .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 75px;
    right: -100%;
    width: 100%;
    height: calc(80vh - 70px);
    background: #fff;
    opacity: 0.95;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
}

@media only screen and (max-width: 888px) {
  .open .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .open .nav .menu {
    display: block;
  }
  .open .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 75px;
    right: 0%;
    width: 100%;
    height: calc(80vh - 50px);
    background: #1c1e53;
    opacity: 0.95;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
}

footer {
  background-color: #1c1e53;
}
footer .foot_cards {
  padding-top: 96px;
  padding-bottom: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
footer .foot_cards .foot_card {
  max-width: 517px;
}
footer .foot_cards .foot_card img {
  padding-bottom: 23px;
}
footer .foot_cards .foot_card h6 {
  color: #fff;
  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  padding-bottom: 14px;
}
footer .foot_cards .foot_card p {
  max-width: 399px;
  padding-bottom: 86px;
  color: var(--White, #fff);
  /* Label 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
footer .foot_cards .foot_card .text_f {
  padding-bottom: 28px;
}
footer .foot_cards .foot_card .foot-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  background-color: #fcd980;
  padding: 18px 137px 16px 37px;
}
footer .foot_cards .foot_card .foot-card .f_card h6 {
  color: #282938;
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
footer .foot_cards .foot_card .foot-card .f_card a {
  color: #282938;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
footer .foot_cards .foot_card .foot_links {
  display: flex;
  align-items: center;
  gap: 26px;
}
@media only screen and (max-width: 990px) {
  footer .foot_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.inputlar {
  padding: 6% 0;
}

.input-content {
  display: grid;
  place-items: center;
}

.input-title {
  display: grid;
  gap: 5%;
}

.input-title h2 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.input-title p {
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  line-height: 28px; /* 175% */
  opacity: 0.7;
  padding: 0% 20%;
}

.only-inputs {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.only-inputs .inputs {
  background: var(--Grey, #f4f6fc);
  width: 1061px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 12px;
}
.only-inputs .inputs .four-inputs {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 24px;
  padding-top: 55px;
}
.only-inputs .inputs .four-inputs .input-1 label {
  display: block;
  color: #000;
  font-size: 18px;
  line-height: 32px;
}
.only-inputs .inputs .four-inputs .input-1 input[type=email] {
  font-size: 24px;
}
.only-inputs .inputs .four-inputs .input-1 input[type=text] {
  font-size: 24px;
}
.only-inputs .inputs .four-inputs .input-1 input {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: rgba(0, 0, 0, 0.12);
  height: 63px;
  width: 438px;
}
.only-inputs .inputs .four-inputs .input-1 input::-moz-placeholder {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
}
.only-inputs .inputs .four-inputs .input-1 input::placeholder {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
}
.only-inputs .inputs .big-input {
  text-align: center;
  padding-top: 16px;
}
.only-inputs .inputs .big-input label {
  display: block;
  text-align: left;
  padding-left: 44px;
  color: #000;
  font-size: 18px;
  line-height: 32px;
}
.only-inputs .inputs .big-input input[type=text] {
  font-size: 30px;
}
.only-inputs .inputs .big-input input {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: rgba(0, 0, 0, 0.12);
  width: 970px;
  height: 138px;
}
.only-inputs .inputs .big-input input::-moz-placeholder {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  display: inline-flex;
  padding: 18px 32px;
  gap: 10px;
}
.only-inputs .inputs .big-input input::placeholder {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  display: inline-flex;
  padding: 18px 32px;
  gap: 10px;
}
.only-inputs .inputs .login-button {
  color: var(--Grey, #f4f6fc);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
  margin-top: 32px;
  margin-left: 50px;
  border: none;
}

@media only screen and (max-width: 1100px) {
  .only-inputs .inputs {
    max-width: 90%;
  }
  .only-inputs .inputs .big-input input {
    max-width: 95%;
  }
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 103px;
  position: relative;
}

@media only screen and (max-width: 888px) {
  body {
    padding-top: 76px;
  }
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */